*{
	padding: 0;
	margin:0;
}
body{
   background:#a8f2ff;

   }
   h1{

	text-align: center;
	background: purple;
	color: #a8f2ff;
	padding:30px;

}
h2{
	font size:45;
}
form{
    
    width:70%;
    margin: 0px auto;
    border: 2px solid black;
    margin- top:10%;
    font- size:150%;
}
   
